<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" />
  <package id="Neo4j.Driver" version="5.28.1" manuallyInstalled="true" />
  <package id="Neo4j.Driver.Simple" version="5.28.1" manuallyInstalled="true" />
  <package id="System.IO.Pipelines" version="8.0.0" />
  <package id="System.Linq.Dynamic.Core" version="1.6.0.2" manuallyInstalled="true" />
</packages>